[submodule "BSplinebasis"]
	path = submodules/BSplinebasis
	url = https://github.com/okruz/BSplinebasis
[submodule "tabulate"]
	path = submodules/tabulate
	url = https://github.com/p-ranav/tabulate
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/oml"]
	path = submodules/oml
	url = https://github.com/JanReimers/oml
[submodule "submodules/wignerSymbols"]
	path = submodules/wignerSymbols
	url = https://github.com/joeydumont/wignerSymbols
[submodules "oml"]
	branch = master
[submodules "json"]
	branch = master
[submodules "wignerSymbols"]
	branch = master
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json
