[submodule "BSplinebasis"]
	path = submodules/BSplinebasis
	url = https://github.com/okruz/BSplinebasis
[submodule "tabulate"]
	path = submodules/tabulate
	url = https://github.com/p-ranav/tabulate
[submodule "googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodules "json"]
	branch = master
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json
[submodule "submodules/blaze"]
	path = submodules/blaze
	url = https://github.com/JanReimers/blaze
[submodule "submodules/libxc"]
	path = submodules/libxc
	url = https://gitlab.com/libxc/libxc
[submodule "submodules/libcint"]
	path = submodules/libcint
	url = https://github.com/sunqm/libcint
[submodule "submodules/pocketfft"]
	path = submodules/pocketfft
	url = https://github.com/mreineck/pocketfft.git
