
*.layout

*.o

TestPersistent

UnitTests/Atom.db

*.dat

qchemUT

*.a

src/Misc/ptr_vector_old.h

UnitTests/gmon.out

doc/html/

doc/latex/

*.lyx~

UnitTests/ValgrindOut.xml

*.lyx#

gmon.out

gprof-N1-newIE.out

*.out

*.ods#
